{% extends "tutoring/base.html" %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="text-align: center">
    <h1>Harvard Peer Tutoring</h1>
    <div style="padding-bottom: 10px;">
    <img src="/static/img/harvard.jpg" width="35%" width="35%" />
    </div>
   <a href="{% url 'search' %}"><button type="button" class="btn btn-primary btn-lg" style="width: 161px;">Find a Tutor</button></a>
    <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary btn-lg">Become a Tutor</button></a>
  </div>

  <div class="col-md-12 ">
      <p class="text-center">Built in CS50.</p>
  </div>
{% endblock %}
