{% extends "search/base.html" %}


{% block title %} {{ department.department_name }} Details {% endblock %}

{% block content %}

<div class="container-fluid course-container">
	<div class="row">


        <!-- Department Information -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'search:detail' department.id %}">
                        {% if department.department_logo %}
                            <img src="{{ department.department_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ department.department_name }}</h1>
                </div>
            </div>
        </div>

	 	<!-- Courses Information -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'search:index' %}">Return</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Courses</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Couse Name</th>
                            <th>Number of tutors</th>
                            <th>Request Tutor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in department.course_set.all %}
                            <tr>
                                <td>{{ course.course_code }}</td>
                                <td>{{ course.course_name }}</td>
                                <td>{{ course.num_tutors }}</td>
                                <td>
                                    <button type="button" class="btn btn-success">
                                            <i class="fa fa-smile-o" aria-hidden="true"></i> Request Tutor
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
	</div>
</div>

{% endblock %}