{% extends "search/base.html" %}


{% block content %}
<div class="jumbotron" style="text-align: center">
    <form action="#" role="search" method="get">
        <input type="text" class="form-control" name="q" value="" placeholder="type keyword(s) here" />
    <a href="#"><button type="button" class="btn btn-primary btn-lg">Search</button></a>

    </form>
  </div>
</div>

<h1>Departments</h1>
<ul>
  {% for department in object_list %} 
    <li><a href="{% url 'search:detail' department.id %}">{{ department.department_name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}