{% extends "search/base.html" %}
{% block department_active %}active{% endblock %}

{% block content %}

<div class="department-container container-fluid">
    <div class="row">

        {% if object_list %}
            {% for department in object_list %}
                <div class="col-sm-4 col-lg-4">
                    <div class="thumbnail">

                        <!-- Logo -->
                        <a href="{% url 'search:detail' department.id %}">
                            <img src="{{ department.department_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption text-center">
                            <h2><a href="{% url 'search:detail' department.id %}" style="text-decoration:none;color: inherit;">{{ department.department_name }}</a></h2>
                            <a href="{% url 'search:detail' department.id %}" class="btn btn-primary btn-sm" role="button" style="width: 75%;">View Details</a>

                            <form action="" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="department_id" value="{{ department.id }}" />
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="#">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an department
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}