{% extends "search/base.html" %}


{% block content %}
<div class="jumbotron" style="text-align: center">
	<div id="search">
    <form>
        <input type="search" name="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
	</div>
</div>

<h1>Departments</h1>
<ul>
	{% for department in all_departments %}	
	<li><a href="/search/{{ department.id }}">{{ department.department_name }}</a></li>
	{% endfor %}
</ul>


{% endblock %}